<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Management</title>
</head>
<body>

<div th:replace="header"></div>
<div class="col-md-offset-2">
    <h2>Operations</h2>
</div>
<div class="list-group col-sm-offset-2 col-sm-8">
    <a th:href="@{/orders/all}" class="list-group-item list-group-item-action">All Orders</a>
    <a th:href="@{/users/all}" class="list-group-item list-group-item-action">All Users</a>
    <a th:href="@{/hotels/all}" class="list-group-item list-group-item-action">All Hotels</a>
    <a th:href="@{/rooms/all}" class="list-group-item list-group-item-action">All Rooms</a>
    <a th:href="@{/users/create}" class="list-group-item list-group-item-action">Add New User</a>
    <a th:href="@{/orders/create}" class="list-group-item list-group-item-action">Add New Order</a>
    <a th:href="@{/hotels/create}" class="list-group-item list-group-item-action">Add New Hotel</a>
    <a th:href="@{/rooms/create}" class="list-group-item list-group-item-action">Add New Room</a>
</div>
</body>
</html>