<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>List of Rooms</title>
</head>
<body>
<div th:replace="header"></div>
<div class="col-md-offset-2 col-sm-8">
    <h2>List of Rooms</h2>
    <form th:action="@{/rooms/create}" method="get">
        <div align="right">
            <input class="btn-info btn-lg" type="submit" value="Create new Room">
        </div>
    </form>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Hotel name</th>
            <th scope="col">Number</th>
            <th scope="col">Price</th>
            <th scope="col" colspan="2">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room, iStat: ${rooms}">
            <th scope="row" th:text="${iStat.index + 1}"/>
            <td th:text="${room.hotel.name}"/>
            <td th:text="${room.number}"/>
            <td th:text="${room.price}"/>

            <div>
                <td><a th:href="@{|/rooms/${room.id}/update|}">Edit</a></td>
                <td><a th:href="@{|/rooms/${room.id}/delete|}">Remove</a></td>
            </div>
        </tr>
    </table>
</div>
</body>
</html>