<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Update Info</title>
</head>
<body>
<div class="col-md-offset-2">
    <h2>Update Form</h2>
</div>
<form class="form-horizontal" th:action="@{|/users/${user.id}/update|}" th:object="${user}" method="post">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="first-name">First name:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{firstname}" id="first-name" required/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('firstname')}"
                   th:errors="*{firstname}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="last-name">Last name:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{lastname}" id="last-name" required/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('lastname')}"
                   th:errors="*{lastname}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="email">Email:</label>
        <div class="col-sm-8">
            <input type="email" class="form-control" th:field="*{email}" id="email" required/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="new password">New Password:</label>
        <div class="col-sm-8">
            <input type="password" class="form-control" th:field="*{password}" id="new password"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="role">Role:</label>
        <div class="col-sm-8">
            <select class="form-control" id="role" name="role">
                        <span th:each="role : ${roles}">
                                <option th:text="${role}" th:value="${role}" th:selected="${user.role==role}"/>
                        </span>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8">
            <input type="submit" class="btn btn-info" value="Update"/>
            <input type="reset" class="btn btn" value="Clear"/>
            <input name="id" th:value="*{id}" type="hidden"/>
        </div>
    </div>
    <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
</form>
</body>
</html>