<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<div th:replace="header"></div>
<div class="col-md-offset-2 col-sm-4">
    <div>
        <h2>Info about User</h2>
        <br>
        <table class="table">
            <tr>
                <td>ID:</td>
                <td><b th:text="${user.id}"></b></td>
            </tr>
            <tr>
                <td>First name:</td>
                <td><b th:text="${user.firstname}"></b></td>
            </tr>
            <tr>
                <td>Last name</td>
                <td><b th:text="${user.lastname}"></b></td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td><b th:text="${user.email}"></b></td>
            </tr>
            <tr>
                <td>Role:</td>
                <td><b th:text="${user.role.name}"></b></td>
            </tr>
        </table>
        <div>
            <td><a class="btn btn-info" th:href="@{|/users/${user.id}/update|}">Edit</a></td>
            <td><a class="btn btn-info" style="margin-left: 5px" th:href="@{|/users/${user.id}/delete|}">Remove</a></td>
        </div>

    </div>
</div>
</body>
</html>