<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<div th:replace="header"></div>
<div class="col-md-offset-2 col-sm-4">
    <div>
        <h2>Info about User</h2>
        <br>
        <table class="table">
            <tr>
                <td>First name:</td>
                <td><b th:text="${user.firstname}"></b></td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td><b th:text="${user.lastname}"></b></td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td><b th:text="${user.email}"></b></td>
            </tr>
            <tr>
                <td>Role:</td>
                <td><b th:text="${user.role.name}"></b></td>
            </tr>
            <tr th:each="order, iStat: ${user.orders}">
                <td th:text="${iStat.index + 1}"/>
                <td th:text="${order.id}"/>
                <td th:text="${order.hotel.name}"/>
                <td th:text="${order.checkIn}"/>
                <td th:text="${order.checkOut}"/>
                <td>
                    <a th:href="@{|/orders/${order.id}/delete/users/${user.id}|}">Remove Order</a>
                </td>
            </tr>
        </table>
        <span><a th:href="@{/users/all}">Go to User's List</a></span>
    </div>
</div>
</body>
</html>